@model IQueryable<Product>
@{
    ViewData["Title"] = "Caps";
}

<div class="container">
    <h1 id="Caps">BAD ART CAPS</h1>
    <div class="card-columns">
        @foreach (Product p in Model)
        {
            <partial name="_ProductPartialView" model="p" />
        }
    </div>
</div>

