@model IQueryable<Product>
@{
    ViewData["Title"] = "T-Shirts";
}

<div class="container">
    <h1 id="Sweatpants">BAD ART T-SHIRTS</h1>
    <div class="card-columns">
        @foreach (Product p in Model)
        {
            <partial name="_ProductPartialView" model="p" />
        }
    </div>
</div>
