<!DOCTYPE html>
<!-- Katlego Mokhethi-->
<!-- mokhethikatlego@gmail.com; YongzCreative Online Store-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--font(s)-->
    <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link asp-href-include="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link asp-href-include="/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link asp-href-include="lib/bootstrap/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link asp-href-include="lib/bootstrap/css/easy-responsive-tabs.css" rel="stylesheet" type='text/css' />
    <link asp-href-include="styles/style.css" rel="stylesheet" />
    <script src="~/JavaScript.js"></script>
    <title>@ViewData["Title"] - YongzCreative Online Store</title>
</head>
<body>
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <!--Navbar Brand-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h3 class="text-light">
                        <img src="~/images/logo/Logo_W.png" style="width:140px;" />
                    </h3>
                </a>
                @*<div>@await Component.InvokeAsync("CartSummary")</div>*@
                <!--Hamburger menu-->
                <button class="navbar-toggler btn-outline-info" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Nav Items-->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1 font-weight-bold">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-link text-info">Hello, @User.Identity.Name</li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Admin"
                                           asp-action="Index">User Management</a>
                                        <a class="dropdown-item" asp-controller="RoleAdmin"
                                           asp-action="Index">Role Management</a>

                                    </div>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Hoodies" asp-action="hoodies">HOODIES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Caps" asp-action="caps">CAPS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Sweaters" asp-action="sweaters">SWEATERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="TShirts" asp-action="tshirts">TSHIRTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Leggings" asp-action="leggings">LEGGINGS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Sweatpants" asp-action="sweatpants">SWEATPANTS</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" asp-controller="About" asp-action="About">ABOUT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="SendEmail">CONTACT US</a>
                            </li>*@

                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button class="btn btn-link nav-link" type="submit">Log Out</button>
                                </form>
                            </li>
                            <li>@await Component.InvokeAsync("CartSummary")</li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <!-- footer -->
    <footer style="background-color: black;">
        <!-- Footer Links -->
        <div class="container text-light text-center text-md-left pt-5">
            <!-- Grid row -->
            <div class="row">
                <!-- About -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">BAD ART</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
                    <p>
                        BAD ART (PTY) LTD is a retail company that incorporates art into its designs.
                        It gives you both calm and chaotic styles of comfort wear.
                    </p>
                    @*<a asp-controller="About" asp-action="About">
                        ABOUT US
                    </a>*@
                </div>
                <!-- //About -->
                <!-- Navs -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">QUICK NAVIGATION</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;">
                    <p>
                        <img id="icon" src="~/images/icons/home.png" style="color:white;" />
                        <a asp-controller="Home" asp-action="Index">HOME</a>
                    </p>
                    <p>
                        <img id="icon" src="~/images/icons/cap.png" />
                        <a asp-controller="Caps" asp-action="caps">CAPS</a>
                    </p>
                    <p>
                        <img id="icon" src="~/images/icons/sweater.png" />
                        <a asp-controller="Sweaters" asp-action="sweaters">SWEATERS</a>
                    </p>
                    <p>
                        <img id="icon" src="~/images/icons/sweatpants.png" />
                        <a asp-controller="Sweatpants" asp-action="sweatpants">SWEATPANTS</a>
                    </p>
                    <p>
                        <img id="icon" src="~/images/icons/leggings.png" />
                        <a asp-controller="Leggings" asp-action="leggings">LEGGINGS</a>
                    </p>
                    <p>
                        <img id="icon" src="~/images/icons/hoodie.png" />
                        <a asp-controller="Hoodies" asp-action="hoodies">HOODIES</a>
                    </p>
                    <p>
                        <img id="icon" src="~/images/icons/tshirt.png" />
                        <a asp-controller="TShirts" asp-action="tshirts">T-SHIRTS</a>
                    </p>
                </div>
                <!-- //Navs -->
                <!-- Contact -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">CONTACT INFO</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;">
                    <div class="contact">
                        <h6><i class="fa fa-envelope" aria-hidden="true"></i> Email address:</h6>
                        <p>
                            info@badart.com
                        </p>
                    </div>
                    <br />
                    <div class="contact">
                        <h6><i class="fa fa-phone-alt" aria-hidden="true"></i> Contact number:</h6>
                        <p>
                            +27 7 639 19078
                        </p>
                    </div>
                    <br />
                    <div class="contact">
                        <h6><i class="fa fa-map-marker" aria-hidden="true"></i> Location:</h6>
                        <p>
                            93 Park Road, Willows, Bloemfontein, 9300
                        </p>
                    </div>
                </div>
                <!-- //Contact -->
                <!-- Socials -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">FOLLOW US:</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
                    <!--Social buttons-->
                    <br />
                    <div class="social-buttons ml-0 pl-0">
                        <!-- facebook  Button -->
                        <a href="https://www.facebook.com/ARTbyYONELA/"
                           data-toggle="tooltip" data-placement="top" title="Facebook">
                            <div class="social-icon facebook">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                            </div>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/yongzcreative/"
                           data-toggle="tooltip" data-placement="top" title="Instagram">
                            <div class="social-icon pinterest">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </div>
                        </a>
                        <!-- TwitterButton -->
                        <a href="https://twitter.com/yongzcreative"
                           data-toggle="tooltip" data-placement="top" title="Twitter">
                            <div class="social-icon twitter">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <!--Social buttons-->
                </div>
                <!-- //Socials -->
            </div>
            <!-- //Grid row -->
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="text-center text-muted">
                &copy; 2019 - @DateTime.Now.Year.ToString() BAD ART (PTY) LTD . All rights reserved
            </div>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- JavaScript -->
    <script asp-src-include="lib/jquery/jquery.slim.min.js"></script>
    <script asp-src-include="lib/popper.js/popper.min.js"></script>
    <script asp-src-include="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>