<!DOCTYPE html>
<!-- Katlego Mokhethi-->
<!-- mokhethikatlego@gmail.com; YongzCreative Online Store-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--font(s)-->
    <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link asp-href-include="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link asp-href-include="/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link asp-href-include="lib/bootstrap/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link asp-href-include="lib/bootstrap/css/easy-responsive-tabs.css" rel="stylesheet" type='text/css' />
    <link asp-href-include="styles/style.css" rel="stylesheet" />
    <title>@ViewData["Title"] - YongzCreative Online Store</title>
</head>
<body>
    <header>
        <!-- Navigation -->
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top">
            <div class="container">
                <!--Navbar Brand-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h3 class="text-light">
                        <img src="~/images/logo/Logo_B.png" style="width:100px;"/>
                    </h3>
                </a>
                <!--Hamburger menu-->
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Nav Items-->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 font-weight-bold">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Hoodies" asp-action="Events">HOODIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Caps" asp-action="News">CAPS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Sweaters" asp-action="Radio">SWEATERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="TShirts" asp-action="Gallery">T-SHIRTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="About" asp-action="About">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contact" asp-action="SendEmail">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @*<div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Put something useful here later
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>*@
    <div style="margin-top: 100px;">
        @RenderBody();
    </div>
    <!-- footer -->
    <footer style="background-color: black;">
        <!-- Footer Links -->
        <div class="container text-light text-center text-md-left mt-5 pt-5">
            <!-- Grid row -->
            <div class="row">
                <!-- About -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">YONGZ Online Store</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 180px;">
                    <p>
                        BAD ART (PTY) LTD is a retail company that incorporates art into it's designs.
                        It gives you both calm and chaotic styles of comfort wear.
                    </p>
                    <a asp-controller="About" asp-action="About">
                        ABOUT US
                    </a>
                </div>
                <!-- //About -->
                <!-- Navs -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">QUICK NAVIGATION</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;">
                    <p>
                        <a href="#">HOME</a>
                    </p>
                    <p>
                        <a href="#">CAPS</a>
                    </p>
                    <p>
                        <a href="#">SWEATERS</a>
                    </p>
                    <p>
                        <a href="#">HOODIES</a>
                    </p>
                    <p>
                        <a href="#">T-SHIRTS</a>
                    </p>

                </div>
                <!-- //Navs -->
                <!-- Contact -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">CONTACT INFO</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;">
                    <div class="contact">
                        <h6><i class="fa fa-envelope" aria-hidden="true"></i> Email address:</h6>
                        <p>
                            info@yonzstore.ac.za
                        </p>
                    </div>
                    <br />
                    <div class="contact">
                        <h6><i class="fa fa-phone-alt" aria-hidden="true"></i> Contact number:</h6>
                        <p>
                            +27 000 0000
                        </p>
                    </div>
                    <br />
                    <div class="contact">
                        <h6><i class="fa fa-map-marker" aria-hidden="true"></i> Location:</h6>
                        <p>
                            93 Park Road, Willows, Bloemfontein, 9300
                        </p>
                    </div>
                </div>
                <!-- Contact -->
                <!-- Socials -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">FOLLOW US:</h6>
                    <hr class="bg-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
                    <!--Social buttons-->
                    <br />
                    <div class="social-buttons ml-0 pl-0">
                        <!-- facebook  Button -->
                        <a href="https://www.facebook.com/ARTbyYONELA/"
                           data-toggle="tooltip" data-placement="top" title="Facebook">
                            <div class="social-icon facebook">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                            </div>
                        </a>
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/yongzcreative/"
                           data-toggle="tooltip" data-placement="top" title="Instagram">
                            <div class="social-icon pinterest">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </div>
                        </a>
                        <!-- TwitterButton -->
                        <a href="https://twitter.com/yongzcreative"
                           data-toggle="tooltip" data-placement="top" title="Twitter">
                            <div class="social-icon twitter">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <!--Social buttons-->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="text-center text-muted">
                © 2020 YONGZcreative Store. All rights reserved
            </div>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- JavaScript -->
    <script asp-src-include="lib/jquery/jquery.slim.min.js"></script>
    <script asp-src-include="lib/popper.js/popper.min.js"></script>
    <script asp-src-include="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>