@{
    ViewData["Title"] = "About";
}
<div id="area">
    <div class="container text-center">
        <h1 class="display-4">About Us</h1>
        <p class="bg-danger text-white">
            PAGE UNDER CONSTRUCTION
        </p>
    </div>
</div>
