@{
    ViewData["Title"] = "Contact Us";
}
<div id="area">
    <div class="container text-center">
        <h1 class="display-4">Contact Us</h1>
        <p class="bg-danger text-white">
            PAGE UNDER CONSTRUCTION
        </p>       
    </div>
</div>
