@model IQueryable<Product>
@{
    ViewData["Title"] = "Sweaters";
}

<div class="container">
    <h1 id="Sweaters" class="text-light">BAD ART SWEATERS</h1>
    <div class="card-columns">
        @foreach (Product p in Model)
        {
            <partial name="_ProductPartialView" model="p" />
        }
    </div>
</div>

