@model IQueryable<Product>
@{
    ViewData["Title"] = "Sweaters";
}

<div>
    <img class="h-100vh w-100" src="~/images/sweaters/sweaters banner.jpg" />
</div>
<div class="container">
    <h1 id="Sweaters">BAD ART SWEATERS</h1>
    <div class="card-columns">
        @foreach (Product p in Model)
        {
            <partial name="_ProductPartialView" model="p" />
        }
    </div>
</div>
